.header {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  user-select: none;
}

.header > section {
  max-width: 42rem;
  margin: 0 auto;
  padding: 0.4rem 0.8rem;
  display: flex;
  flex-direction: column;
}

.header > section > div {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
}

.header > section > div > img {
  border-radius: 100px;
}

.title {
  font-size: 2rem;
  font-weight: 800;
  cursor: pointer;
}

.links {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-bottom: 0.6rem;
}

.links > h2 {
  line-height: 1;
}

.link {
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
  font-size: 1.2rem;
}
