.header {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  user-select: none;
}

.header > div {
  max-width: 42rem;
  margin: 0 auto;
  padding: 0.4rem 0.8rem;
}

.header > div > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skipNavigation {
  background-color: black;
  color: white;
  position: absolute;
  outline: none;
  padding: 0.6rem;
  border-radius: 0.2rem;
  transform: translateY(-200%);
  transition: ease 0.5s;
}
.skipNavigation:focus {
  transform: translateY(120%);
}

.title {
  font-size: 2rem;
  font-weight: 800;
  cursor: pointer;
}

.links {
  display: flex;
}

.link {
  margin-right: 10px;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
  font-size: 1.2rem;
}
