.blogListItem {
  margin-top: 1.2rem;
}
.blogListItem > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.blogListItem > div > h3 {
  cursor: pointer;
  font-size: 1.4rem;
}

.blogListItem > div > span {
  font-size: 0.8rem;
}

.blogListItem p {
  font-weight: 300;
}

.blogContent {
  margin-top: 1.2rem;
}
