.devTipsTitle {
  margin-top: 0.8rem;
}

.devTipInfoLine {
  display: flex;
  margin-top: 0.4rem;
  color: #888;
  font-weight: bold;
}

.devTipsCategories {
  margin-top: 0.5rem;
}

.devTipsCategories span {
  margin-right: 10px;
  white-space: nowrap;
}

.devTipsTagline {
  margin: 1rem 0;
  overflow: hidden;
}

.devTipSeach {
  display: flex;
}

.devTipsList {
  margin-top: 0.5rem;
}

.devTipsList div {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
}

.devTipsList div a {
  font-size: 1.1rem;
  margin-left: 1rem;
}

.devTipsList div span {
  color: #888;
  min-width: 6rem;
  white-space: nowrap;
  font-weight: 700;
}
