.footer {
  width: 100%;
  position: absolute;
  left: 0;
  padding-bottom: 2rem;
  margin-top: 2.4rem;
}

.footer section {
  max-width: 42rem;
  margin: 0 auto;
  padding: 0.4rem 0.8rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
