@font-face {
  font-family: athelas;
  src: local("athelas-regular") url("/fonts/athelas-regular") format("woff"),
    local("athelas-bold") url("/fonts/athelas-bold") format("woff");
}

* {
  margin: 0;
  padding: 0;
  font-family: "athelas", sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
  font-size: 1.03em;
  line-height: 1.5em;
}

a {
  word-break: break-word;
}

ol,
ul {
  margin: 10px;
  list-style: circle;
  list-style-position: inside;
}

li {
  padding-left: 4px;
}

th,
td {
  border: 1px solid black;
  padding: 0 2rem;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.1em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

@media only screen and (max-width: 720px) {
  img {
    max-width: 36rem;
  }
}

@media only screen and (max-width: 600px) {
  img {
    max-width: 32rem;
  }
}

@media only screen and (max-width: 540px) {
  img {
    max-width: 20rem;
  }
}
