.header {
  margin: -1.5rem -0.8rem 0 -0.8rem;
  padding: 1rem 0.8rem 0.6rem 0.8rem;
  background-color: antiquewhite;
  border-bottom: 0.25rem solid rosybrown;
}

.skipNavigation {
  background-color: black;
  color: white;
  position: absolute;
  outline: none;
  padding: 0.6rem;
  border-radius: 0.2rem;
  transform: translateY(-200%);
  transition: ease 0.5s;
}
.skipNavigation:focus {
  transform: translateY(120%);
}

.title {
  font-size: 2.4rem;
  font-weight: 900;
  cursor: pointer;
}

.links {
  margin-top: 10px;
}

.link {
  margin-right: 10px;
  text-decoration: none;
  font-weight: 500;
  color: #111;
  cursor: pointer;
  font-size: 1.2rem;
}
